@import '_variable';

.g-alert {
    padding: 0.5rem;
    font-size: 0.875rem;
    display: flex;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    transition: .3s ease-out;
    min-width: 18rem;

    span {
        display: block;
        margin: auto 0.5rem;
        flex: auto;
    }

    .close {
        padding: 0px 0px 0px 1rem;
        color: inherit;
        opacity: 0.6;

        &:hover,
        &.active {
            opacity: 1;
        }
    }

    svg {
        margin: auto 0;
        width: 16px;
        height: 16px;
    }
}

