.c-buy-list {
  background-color: #FFFFFF;
}

.c-buy-list form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 2%;
          flex: 1 0 2%;
  max-width: 2%;
  margin: auto 0;
  margin-right: 16px;
}

.c-list-title {
  position: relative;
  padding-left: 8px;
  margin: 20px 0 40px;
}

.c-list-title::after {
  content: "";
  width: 5px;
  height: 75%;
  background-color: #A2007D;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-in-cart .c-buy-list-title .c-title-number, .c-in-cart .c-buy-list-content .c-buy-number {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 12%;
          flex: 1 0 12%;
  max-width: 12%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-title .c-title-number, .c-in-cart .c-buy-list-content .c-buy-number {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
    max-width: 70%;
  }
}

.c-in-cart .c-buy-list-title .c-title-gold, .c-in-cart .c-buy-list-content .c-buy-gold {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
  max-width: 15%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-title .c-title-gold, .c-in-cart .c-buy-list-content .c-buy-gold {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    max-width: 60%;
    text-align: left;
  }
}

.c-in-cart .c-buy-list-title .c-title-price, .c-in-cart .c-buy-list-content .c-buy-price, .c-in-cart .c-order-product .c-price, .c-order-product .c-in-cart .c-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 8%;
          flex: 1 0 8%;
  max-width: 8%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-title .c-title-price, .c-in-cart .c-buy-list-content .c-buy-price, .c-in-cart .c-order-product .c-price, .c-order-product .c-in-cart .c-price {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    max-width: 40%;
    text-align: right;
  }
}

.c-in-cart .c-buy-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
}

.c-in-cart .c-buy-list-title.is-pink {
  background-color: #FEF6F9;
  color: #A2007D;
}

.c-in-cart .c-buy-list-title.is-nile {
  background-color: #EAF6F9;
  color: #2AA8C3;
}

.c-in-cart .c-buy-list-title.is-green {
  background-color: #EEF5EB;
  color: #569E34;
}

.c-in-cart .c-buy-list-title.is-purple {
  background-color: #F3EDFB;
  color: #894ED3;
}

.c-in-cart .c-buy-list-title.is-brown {
  background-color: #EBDECC;
  color: #9D5D00;
}

.c-in-cart .c-buy-list-title.is-yellow {
  background-color: #FFF4CE;
  color: #7D651C;
}

.c-in-cart .c-buy-list-title.is-gray {
  background-color: #EDEFF2;
  color: #505D7D;
}

.c-in-cart .c-buy-list-title .c-title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  max-width: 55%;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-title .c-title-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-title .c-title-col {
    display: none;
  }
}

.c-in-cart .c-buy-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

.c-in-cart .c-buy-list-content .c-buy-info-mobile {
  display: none;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-content .c-buy-info-mobile {
    display: block;
  }
}

.c-in-cart .c-buy-list-content .c-buy-img {
  width: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 8%;
          flex: 1 0 8%;
  max-width: 8%;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-content .c-buy-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    max-width: 30%;
  }
}

.c-in-cart .c-buy-list-content .c-buy-name {
  padding: 0 24px 0 16px;
}

.c-in-cart .c-buy-list-content .c-buy-number, .c-in-cart .c-buy-list-content .c-buy-gold, .c-in-cart .c-buy-list-content .c-buy-price {
  margin: auto 0;
}

.c-in-cart .c-buy-list-content .c-buy-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 47%;
          flex: 1 0 47%;
  max-width: 47%;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-content .c-buy-name {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.c-in-cart .c-buy-list-content .c-buy-name .c-name-code,
.c-in-cart .c-buy-list-content .c-buy-name .c-name-tip {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.c-in-cart .c-buy-list-content .c-buy-gold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-content .c-buy-gold {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 16px 0;
  }
}

.c-in-cart .c-buy-list-content .c-buy-gold span {
  margin-left: 8px;
}

.c-in-cart .c-buy-list-content .c-buy-price {
  color: #FA1229;
  font-weight: bold;
}

.c-in-cart .c-buy-list-content .c-buy-delet {
  margin: auto;
  cursor: pointer;
}

.c-in-cart .c-buy-list-content.is-out-stock .c-buy-name,
.c-in-cart .c-buy-list-content.is-out-stock .c-name-code,
.c-in-cart .c-buy-list-content.is-out-stock .c-name-tip {
  color: #E5E5E5;
}

.c-in-cart .c-buy-list-content.is-out-stock .c-buy-img {
  position: relative;
}

.c-in-cart .c-buy-list-content.is-out-stock .c-buy-img::after {
  content: '';
  background: url(../../global/assets/soldout.png) center no-repeat rgba(30, 30, 30, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-in-cart .c-buy-list-content .c-buy-pc {
  display: block;
}

@media all and (max-width: 576px) {
  .c-in-cart .c-buy-list-content .c-buy-pc {
    display: none;
  }
}

.c-order-product .c-in-cart .c-buy-list-title .c-title-price, .c-in-cart .c-buy-list-title .c-order-product .c-title-price, .c-order-product .c-in-cart .c-buy-list-content .c-buy-price, .c-in-cart .c-buy-list-content .c-order-product .c-buy-price, .c-order-product .c-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  max-width: 10%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-in-cart .c-buy-list-title .c-title-price, .c-in-cart .c-buy-list-title .c-order-product .c-title-price, .c-order-product .c-in-cart .c-buy-list-content .c-buy-price, .c-in-cart .c-buy-list-content .c-order-product .c-buy-price, .c-order-product .c-price {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    text-align: left;
  }
}

.c-order-product .c-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 8%;
          flex: 1 0 8%;
  max-width: 8%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-order-product .c-in-cart .c-buy-list-title .c-title-gold, .c-in-cart .c-buy-list-title .c-order-product .c-title-gold, .c-order-product .c-in-cart .c-buy-list-content .c-buy-gold, .c-in-cart .c-buy-list-content .c-order-product .c-buy-gold {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
  max-width: 15%;
  text-align: center;
  padding: 0 8px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-in-cart .c-buy-list-title .c-title-gold, .c-in-cart .c-buy-list-title .c-order-product .c-title-gold, .c-order-product .c-in-cart .c-buy-list-content .c-buy-gold, .c-in-cart .c-buy-list-content .c-order-product .c-buy-gold {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    text-align: left;
  }
}

.c-order-product .c-buy-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-buy-list-title {
    display: none;
  }
}

.c-order-product .c-buy-list-title.is-pink {
  background-color: #FEF6F9;
  color: #A2007D;
}

.c-order-product .c-buy-list-title.is-nile {
  background-color: #EAF6F9;
  color: #2AA8C3;
}

.c-order-product .c-buy-list-title.is-green {
  background-color: #EEF5EB;
  color: #569E34;
}

.c-order-product .c-buy-list-title.is-purple {
  background-color: #F3EDFB;
  color: #894ED3;
}

.c-order-product .c-buy-list-title.is-brown {
  background-color: #EBDECC;
  color: #9D5D00;
}

.c-order-product .c-buy-list-title.is-yellow {
  background-color: #FFF4CE;
  color: #7D651C;
}

.c-order-product .c-buy-list-title.is-gray {
  background-color: #EDEFF2;
  color: #505D7D;
}

.c-order-product .c-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 42%;
          flex: 1 0 42%;
  max-width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 576px) {
  .c-order-product .c-name {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    position: relative;
  }
  .c-order-product .c-name::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../../global/assets/arrow-down.svg) right no-repeat;
    background-size: 24px;
  }
}

@media all and (max-width: 576px) {
  .c-order-product .c-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-order-product .c-price span {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    color: #828282;
    margin-bottom: 8px;
  }
}

.c-order-product .c-col span {
  display: none;
}

@media all and (max-width: 576px) {
  .c-order-product .c-col span {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    color: #828282;
    margin-bottom: 8px;
  }
}

.c-order-product .c-buy-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-buy-list-content {
    display: block;
    border-bottom: 1px solid #E5E5E5;
  }
}

.c-order-product .c-buy-list-content .c-buy-img {
  width: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  max-width: 20%;
}

.c-order-product .c-buy-list-content .c-buy-name {
  padding: 0 24px 0 16px;
}

.c-order-product .c-in-cart .c-buy-list-content .c-buy-number, .c-in-cart .c-order-product .c-buy-list-content .c-buy-number, .c-order-product .c-in-cart .c-buy-list-content .c-buy-gold, .c-in-cart .c-order-product .c-buy-list-content .c-buy-gold, .c-order-product .c-in-cart .c-buy-list-content .c-buy-price, .c-in-cart .c-order-product .c-buy-list-content .c-buy-price {
  margin: auto 0;
}

.c-order-product .c-buy-list-content .c-buy-name .c-name-tip {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.c-order-product .c-buy-list-content .c-buy-price,
.c-order-product .c-buy-list-content .c-col {
  font-weight: bold;
  font-size: 14px;
}

.c-order-product .c-buy-list-content .c-buy-gold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 576px) {
  .c-order-product .c-buy-list-content .c-buy-gold {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.c-order-product .c-buy-list-content .c-buy-gold span {
  margin-left: 8px;
}

@media all and (max-width: 576px) {
  .c-order-product .c-buy-list-content .c-buy-gold span {
    margin-left: 0;
  }
}

.c-order-product .c-buy-list-content .c-buy-cupon,
.c-order-product .c-buy-list-content .c-buy-gold,
.c-order-product .c-buy-list-content .c-buy-point {
  color: #FA1229;
}

.c-consumption {
  background-color: #F2FAFF;
  padding: 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #E5E5E5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 576px) {
  .c-consumption {
    display: block;
    background-color: transparent;
    padding: 0;
  }
}

.c-consumption-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  border-right: 1px solid #E5E5E5;
}

.c-consumption-left.c-consumption-left-pc {
  padding: 16px;
}

@media all and (max-width: 576px) {
  .c-consumption-left.c-consumption-left-pc {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .c-consumption-left.c-consumption-left-pc .c-point-name {
    font-size: 14px;
    font-weight: bold;
  }
}

.c-consumption-left.c-consumption-left-mobile {
  display: none;
}

@media all and (max-width: 576px) {
  .c-consumption-left.c-consumption-left-mobile {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .c-consumption-left.c-consumption-left-mobile .c-point-name {
    font-size: 14px;
    font-weight: bold;
  }
}

.c-consumption-left .c-con-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.c-consumption-left .c-con-point .c-point-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  max-width: 80px;
}

.c-consumption-left .c-con-point .is-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  max-width: 120px;
}

@media all and (max-width: 576px) {
  .c-consumption-left .c-con-point .is-price {
    display: none;
  }
}

.c-consumption-left .c-con-point .g-form-item {
  margin: 0;
}

.c-consumption-left .c-con-point span {
  font-size: 12px;
  margin: auto 0;
  margin-right: 8px;
}

.c-consumption-left .c-con-point span.is-price {
  color: #FA1229;
}

.c-consumption-left .c-con-point .c-point-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-consumption-left .c-con-point .c-point-input input[type="checkbox"] {
  margin-right: 8px;
}

.c-consumption-left .c-con-point .c-point-input input[type="text"] {
  max-width: 30px;
  margin-right: 8px;
}

.c-consumption-left .c-con-point.c-con-cupon {
  position: relative;
}

.c-consumption-left .c-con-point.c-con-cupon form {
  position: relative;
}

.c-consumption-left .c-con-point.c-con-cupon form input {
  font-size: 14px;
  padding: 8px;
}

.c-consumption-left .c-con-point.c-con-cupon form .g-input-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 2px 2px 0;
  height: 100%;
  font-size: 14px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-text {
  width: 100%;
  color: #FA1229;
  text-align: center;
  display: block;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-text span {
  color: #1E1E1E;
  margin: 0;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select {
  margin-top: 16px;
  -webkit-box-shadow: 0 2px 4px rgba(30, 30, 30, 0.5);
          box-shadow: 0 2px 4px rgba(30, 30, 30, 0.5);
  border-radius: 4px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head {
  color: #FFFFFF;
  padding: 8px 30px 8px 16px;
  border-radius: 4px 0 0 4px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head.g-main {
  background-color: #A2007D;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head.g-blue {
  background-color: #0D6EFD;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head.g-green {
  background-color: #198754;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head .c-cupon-use {
  font-size: 12px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head .c-cupon-type {
  font-weight: bold;
  font-size: 16px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head .c-cupon-money {
  font-size: 12px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-head .c-cupon-money span {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-body {
  background-color: #FFFFFF;
  padding: 8px;
  margin: auto 0;
  margin-right: 30px;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-body .c-cupon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-body .c-cupon-info .c-cupon-code {
  font-weight: bold;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .c-cupon-body .c-cupon-info .c-cupon-exp {
  border: 1px solid #FA1229;
  color: #FA1229;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .g-radiobtn {
  position: relative;
}

.c-consumption-left .c-con-point.c-con-cupon .c-cupon-select .g-radiobtn input[type="radio"] {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-consumption-right {
  width: 100%;
  text-align: end;
}

@media all and (max-width: 576px) {
  .c-consumption-right {
    background-color: #F2FAFF;
    padding: 16px;
  }
}

.c-consumption-right .c-con-money {
  font-size: 14px;
}

.c-consumption-right .c-con-money .c-con-money-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 8px;
}

@media all and (max-width: 576px) {
  .c-consumption-right .c-con-money .c-con-money-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.c-consumption-right .c-con-money .c-con-money-item .c-money-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  color: #828282;
  text-align: right;
}

@media all and (max-width: 576px) {
  .c-consumption-right .c-con-money .c-con-money-item .c-money-name {
    text-align: left;
  }
}

.c-consumption-right .c-con-money .c-con-money-item .c-money-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 576px) {
  .c-consumption-right .c-con-money .c-con-money-item .c-money-number {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.c-consumption-right .c-con-money .c-con-money-item .c-money-number ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.c-consumption-right .c-con-money .c-con-money-item .c-money-number ul li .c-money-number-title {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: left;
}

.c-consumption-right .c-con-money.c-con-miner {
  color: #FA1229;
}

.c-consumption-right .c-con-money.c-con-miner .c-money-name {
  color: #FA1229;
}

.c-consumption-right .c-con-alert {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media all and (max-width: 576px) {
  .c-consumption-right .c-con-alert {
    display: none;
  }
}

.c-con-alert {
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-con-alert.c-alert-yellow {
  background-color: #FFF9D9;
  border: 1px solid #F8DE90;
}

.c-con-alert.c-alert-yellow .material-icons,
.c-con-alert.c-alert-yellow .material-icons-round {
  color: #F8DE90;
}

.c-con-alert.c-alert-white {
  background-color: #FFFFFF;
  border: 1px solid #F0f0f0;
}

.c-con-alert.c-alert-white .material-icons,
.c-con-alert.c-alert-white .material-icons-round {
  color: #EED0E6;
}

.c-con-alert .material-icons,
.c-con-alert .material-icons-round {
  margin: auto 0;
  margin-right: 8px;
}

.c-con-alert .c-con-alert-text {
  margin: auto 0;
  color: #1E1E1E;
  font-size: 12px;
}

.c-consumption-bottom {
  background-color: #F2FAFF;
  border-top: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px 32px;
}

.c-consumption-bottom .c-con-total {
  font-size: 14px;
  color: #828282;
}

.c-consumption-bottom .c-con-total span {
  color: #2892D7;
}

.c-consumption-bottom .c-con-total-money {
  text-align: end;
}

.c-consumption-bottom .c-con-total-money .c-total-money-number {
  font-size: 24px;
  color: #A2007D;
  font-weight: bold;
}

.c-consumption-bottom .c-con-total-money .c-total-money-discount {
  color: #FA1229;
  font-size: 14px;
}

@media all and (max-width: 576px) {
  .c-consumption-bottom {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
    background-color: transparent;
    border-top: 0;
  }
  .c-consumption-bottom .c-con-total {
    font-size: 14px;
    color: #828282;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .c-consumption-bottom .c-con-total .is-pc-title {
    display: none;
  }
  .c-consumption-bottom .c-con-total span {
    color: #2892D7;
  }
  .c-consumption-bottom .c-con-total-money {
    text-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-consumption-bottom .c-con-total-money span {
    color: #828282;
    margin-right: 8px;
  }
  .c-consumption-bottom .c-con-total-money .c-total-money-number {
    font-size: 24px;
    color: #A2007D;
    font-weight: bold;
    margin-right: 8px;
  }
  .c-consumption-bottom .c-con-total-money .c-total-money-discount {
    color: #FA1229;
    font-size: 14px;
  }
}

.c-buttons {
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

.c-buttons .c-total-price {
  display: none;
}

.c-buttons .c-bottom-btn {
  padding: 30px 16px;
}

@media all and (max-width: 576px) {
  .c-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 -1px 6px rgba(30, 30, 30, 0.3);
            box-shadow: 0 -1px 6px rgba(30, 30, 30, 0.3);
    padding: 16px;
  }
  .c-buttons .c-bottom-btn {
    padding: 0;
  }
}

.c-finish-track {
  background-color: #FFFFFF;
  padding: 24px;
  text-align: center;
}

.c-finish-track .c-finish-text {
  margin-bottom: 16px;
}

.c-finish-track h5 {
  color: #A2007D;
}

.c-finish-track p {
  font-size: 14px;
}

@media all and (max-width: 576px) {
  .c-finish-track .g-process-track {
    display: none;
  }
}

.c-receive-info .c-recieve-info-tip {
  background-color: #FFF9D9;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}

.c-receive-info .c-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  background-color: #FFFFFF;
}

@media all and (max-width: 576px) {
  .c-receive-info .c-info-flex {
    display: block;
  }
}

.c-receive-info .c-info-flex .c-info-flex-col p {
  font-size: 20px;
  margin-bottom: 4px;
}

.c-receive-info .c-info-flex .c-info-flex-col ul {
  color: #828282;
}

.c-receive-info .c-info-flex .c-info-flex-col ul li {
  line-height: 1.5;
  font-size: 14px;
}

.c-receive-info .c-info-flex .c-info-flex-col ul li.c-alert {
  color: #A2007D;
}

.c-receive-info .c-info-flex .c-info-flex-col.c-reciever {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3334%;
          flex: 1 0 33.3334%;
  max-width: 33.3334%;
}

@media all and (max-width: 576px) {
  .c-receive-info .c-info-flex .c-info-flex-col.c-reciever {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.c-receive-info .c-info-flex .c-info-flex-col.c-payment {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  max-width: 20%;
}

@media all and (max-width: 576px) {
  .c-receive-info .c-info-flex .c-info-flex-col.c-payment {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.c-deliver {
  background-color: #FEF6F9;
  margin-bottom: 16px;
}

.c-deliver .c-store {
  margin-bottom: 16px;
}

.c-deliver .c-deliver-title {
  padding: 16px;
  border-bottom: 1px solid #C4C4C4;
}

.c-deliver .c-deliver-form {
  padding: 16px;
}

@media all and (max-width: 576px) {
  .c-deliver .c-deliver-form {
    padding: 8px;
  }
}

.c-deliver .c-deliver-form-col .c-deliver-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-deliver .c-deliver-form-col .c-deliver-form-title p {
  font-size: 20px;
  margin-right: 8px;
}

.c-deliver .c-deliver-form-col .c-deliver-form-title .g-form-item {
  margin: auto 0;
}

.c-deliver .c-deliver-form-col .c-deliver-form-title .g-check-text {
  color: #A2007D;
}

.c-deliver .c-deliver-form-col .c-deliver-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

@media all and (max-width: 576px) {
  .c-deliver .c-deliver-form-col .c-deliver-form-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.c-deliver .c-deliver-form-col .c-deliver-form-item .c-deliver-input-group {
  width: 100%;
}

.c-deliver .c-deliver-form-col .c-con-alert {
  width: 100%;
  margin-top: 16px;
}

.c-deliver .c-receiver {
  margin-top: 30px;
}

.c-deliver-form-wrap .c-deliver-form-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  max-width: 70%;
}

@media all and (max-width: 576px) {
  .c-deliver-form-wrap .c-deliver-form-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.c-deliver-form-wrap .c-deliver-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 576px) {
  .c-deliver-form-wrap .c-deliver-radio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-deliver-form-wrap .c-deliver-radio .g-radiobtn {
  margin-right: 16px;
}

.c-store-delivery {
  width: 100%;
}

.c-store-delivery .c-deliver-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  max-width: 70%;
}

@media all and (max-width: 576px) {
  .c-store-delivery .c-deliver-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.c-store-delivery .c-deliver-form-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 100%;
}

.c-payment {
  background-color: #FFFFFF;
}

.c-payment .c-payment-title {
  font-size: 18px;
  margin-bottom: 16px;
}

.c-payment .c-payment-col {
  border-bottom: 1px solid #E5E5E5;
  padding: 16px;
}

.c-payment .c-payment-col:last-of-type {
  border-bottom: none;
}

.c-payment .c-payment-col .g-checkbtn .g-check-text {
  font-size: 12px;
  color: #828282;
}

.c-payment .c-payment-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-payment .c-payment-btn .g-btn {
  margin-right: 16px;
}

.c-payment .c-payment-btn .g-btn .material-icons {
  font-size: 14px;
}

.c-payment .c-payment-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.c-payment .c-payment-radio .g-form-item {
  margin: auto 0;
  margin-right: 16px;
}

@media all and (max-width: 576px) {
  .c-payment .c-payment-radio .g-form-item {
    margin-right: 0;
  }
}

.c-payment .c-payment-help-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.c-payment .c-payment-help-bottom .g-form-item {
  margin-top: 0;
  margin-right: 24px;
}

.c-payment .c-payment-help-bottom a {
  margin: auto 0;
}

.c-payment .c-payment-form {
  margin-top: 16px;
}

.c-payment .c-payment-form .c-payment-form-inner {
  margin-top: 16px;
  background-color: #F0f0f0;
  padding: 16px;
  border-radius: 8px;
}

@media all and (max-width: 576px) {
  .c-payment .c-payment-form .c-payment-form-inner {
    padding: 0;
    background-color: transparent;
  }
}

.c-payment .c-payment-form .c-payment-cridit {
  margin: auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-payment .c-payment-form .c-payment-cridit-img {
  margin-left: 8px;
}

@media all and (max-width: 576px) {
  .c-payment .c-payment-form .c-payment-cridit-img {
    display: none;
  }
}
/*# sourceMappingURL=cart.css.map */